{% extends 'base.html'%}
{% load static %}

{% block content %}
    <h1>user Home</h1>


    {% if selected_user.address != None %}
    <p>{{selected_user.UserId.username}}</p>
    <p>{{selected_user.UserId.first_name}}</p>
    <p>{{selected_user.UserId.last_name}}</p>
    <p>{{selected_user.UserId.email}}</p>
    <p>{{selected_user.UserId.date_joined}}</p>
    <p>{{selected_user.address}}</p>
    {% if selected_user.UserId.is_supplier %}
        <p>Dear Valued Supplier</p>
    {% else %}
        <p>Dear Valued Customer</p>
    {% endif %}

    {% else %}
        <a href="#">Please Give Address</a>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
    <!-- <p>selected_user.is_supplier</p>
    <p>selected_user.UserAddressInfo.</p> -->
    
{% endblock content %}