.img-logo{
 width:50px;
}
.input-email,.subscribe-btn{
    width: 50%;
   height: 40px;
   border: none;
   border-radius: 10px;
   padding-left: 2%;
   margin-bottom: 2%;
}
.footer-list{
    list-style: none;
    margin-top: 15px;
    
    
    
}
.footer-list a{
    text-decoration: none;
    color: #B9E3C6;
    
}

@media only screen and (min-width: 992px) {
    .subscribe-div {
      border-right: 1px solid white;
    }
    .footer-list{
        list-style: none;
        margin-top: 15px;
        margin-left: -17%;
        
        
    }
    
  }
@media only screen and (min-width: 200px) {
    .subscribe-div {
      border-bottom: 1px solid white;
    }
  }
