{% extends 'base.html'%}
{% load static %}



{% block title %}
    <title> About Us</title>
{% endblock title%}


{% block content %}
<div class="container text-start mt-5 p-2 border-bottom" >
    <h1 style="background-color: rgb(185, 233, 209);padding: 2%; border-radius: 10px;">About ITW</h1>
   
</div>
<div class="container mt-3 mb-3">
    <p>
       <strong> ITW </strong> is a service oriented e-commerce business which gives you the authority to unleash your shopaholic attitude from home with quality products and world class customer support.
        At <strong>ITW</strong>, we strive to utilize the power of the internet in its highest peak to fulfil the needs of your busy life.
        We cover whole Bangladesh right now and still, anyone from outside of Bangladesh can purchase products online providing a Bangladeshi shipping address. Be comfy to experience the best shopping experience from us.
    </p>

</div>
   
{% endblock content %}