{% extends 'base.html'%}
{% load static %}


{% block title %}
    <title> Review</title>
{% endblock title%}


{% block content %}
<div class="container mt-5 p-5 rounded" style="background-color: rgb(222, 245, 235);">
    <div class="text-center">
        <h3>Write a  Review</h3>
    </div>
    <div class="mt-3">
        <form method="post">
            <div class="mb-3">
                <small>Please give a ratings from 0-5:</small>
            </div>
            
            {% csrf_token %}
            {{ review_from.as_p }}
            <button class=" px-3 py-2 rounded text-center fs-5 text w-25 fw-bold" style="background-color: #B9E3C6;  margin-top: 10px;"  type="submit">Add</button>
        </form>
    </div>
</div>
    
    
{% endblock content %}
