{% extends 'base.html'%}
{% load static %}



{% block title %}

    <title>Contact Info</title>

   
{% endblock title%}


{% block content %}
<div class="container text-start mt-5 p-2 border-bottom" >
    <h1 style="background-color: rgb(185, 233, 209);padding: 2%; border-radius: 10px;">Contact</h1>
   
</div>
<div class="container mt-3 mb-3">
    <p>
        For any query/help, please call 09613-800800, 9 AM to 10 PM, every day.

        Or send us an email: info@itw.com <br>
        
         
        
        Office Location:
        
        ITW.com
        
        House-02,Road-09, Level-2 <br>
        
        Uttara, Dhaka- 1212.

</div>
   
{% endblock content %}