{% extends 'base.html'%}
{% load static %}

{% block title %}

    
    <title>{{ each_product.Name }}</title>

{% endblock title%}


{% block content %}
<div class="post-entry">
    <div class="container fs-4 bg-light text border mt-5 rounded pb-5 px-5">
        <div class="mt-5  w-50 text-start">
            <h2>{{ product.Name }}</h2>
        </div>
        <div class="w-50 mt-3 mb-3">
            <img style="width: 55%; border-radius: 5%; margin: 5%;" src="{{ product.ProductImage.url }}">
        </div>
        
        <p>{{ product.Price }} BDT</p>
        <h6>Category:</h6>
        <p>{{ product.Product_Type }}</p>
        <h6>Description:</h6>
        <p>{{ product.Description }}</p>
        <h6>Brand:</h6>
        <p>{{ product.Brand }}</p>
        <div class="d-flex justify-content-center">
            <button data-product="{{product.Product_id}}" data-action="add" class=" addCart-btn w-50  mt-2 mb-2 update-cart" style="background-color: #B9E3C6;height: 2rem;">ADD TO CART</button>
        </div>
        {% if review != Null %}
        <h6 class="container">Review Section</h6>
            {% for r in review%}
            <div class="row">
                <div class="col-sm-7">
                    <hr/>
                    <div class="review-block">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                <div class="review-block-name"><a href="#">{{r.CustomerId}}</a></div>
                                <div class="review-block-date">{{r.ReviewDate}}</div>
                            </div>
                            <div class="col-sm-9">
                                <div class="review-block-rate">
                                    <p>{{r.Ratings}}</p>
                                </div>
                                <div class="review-block-description">{{r.Description}}</div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <a style="text-decoration: underline;" class="text-dark" href="{% url 'review_page' product.Product_id %}">Add a review</a>
    </div>
    
</div>

{% endblock content %}