{% extends 'base.html'%}
{% load static %}

{% block title %}
<title>{{ each_product.Name }}</title>
{% endblock title%}


{% block content %}
<div class="post-entry">
    <h2>{{ product.Name }}</h2>
    <p>{{ product.Price }}</p>
    <p>{{ product.Product_Type }}</p>
    <p>{{ product.Description }}</p>
    <p>{{ product.Brand }}</p>
    <img src="{{ product.ProductImage.url }}">
    {% if review != Null %}
    <p>Review Section</p>
        {% for r in review%}
        <p>{{r.CustomerId}}</p>
        <p>{{r.ReviewDate}}</p>
        <p>{{r.Ratings}}</p>
        <p>{{r.Description}}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url 'review_page' product.Product_id %}">Add a review</a>
</div>

{% endblock content %}